window {
  height: 68px;
}
body {
  background-color:#111166;
}
.price {
  font: bold 14pt sans-serif;
  color: white;
}
.wishlist_id {
  display:none;
}
.error {
  color:white;
  background:red;
}
.hidden {
  display:none;
  visibility:hidden;
}